html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background: rgba(0, 0, 0, 0)
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],
input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

@font-face {
    font-family: "Unbouded";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/UnboudedBold.woff2") format("woff2");
    font-display: swap
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    ont-display: swap
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    outline: none
}

body {
    min-height: 100vh;
    font-size: 16px;
    color: #000;
    background-color: #f2f0ed;
    font-family: "Montserrat", sans-serif;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

body.active {
    overflow: hidden
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Unbouded", sans-serif;
    font-weight: bold
}

p {
    font-size: 16px;
    font-weight: 400
}

img {
    max-width: 100%
}

a,
button {
    color: #000;
    text-decoration: none;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
    background-color: rgba(0, 0, 0, 0)
}

a:active,
button:active {
    -webkit-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
    transform: scale(0.98)
}

a:hover,
button:hover {
    opacity: .8
}

mark {
    font-weight: 600;
    background: rgba(0, 0, 0, 0);
    color: #298ff3
}

.container {
    width: 100%;
    max-width: 1430px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto
}

h3,
.h3 {
    font-size: 18px;
    margin-bottom: 20px
}

h2,
.h2 {
    color: #000;
    width: 100%;
    font-size: 48px;
    font-weight: 600;
    font-family: "Unbouded", sans-serif;
    margin: 0 auto 65px;
    text-align: left;
    padding-top: 42px;
    background-image: url("../img/icon/ic-1.png");
    background-repeat: no-repeat;
    background-position: left top;
    -webkit-background-size: 43px auto;
    -o-background-size: 43px auto;
    background-size: 43px auto
}

.textline {
    color: #767676;
    font-size: 22px;
    line-height: 140%;
    max-width: 670px
}

.h2 {
    margin-bottom: 10px
}

ul {
    list-style: none
}

.btn {
    font-family: "Unbouded", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    padding: 24px 43px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    position: relative;
    z-index: 1;
    background-image: -webkit-gradient(linear, left top, right top, from(#0f9b40), color-stop(70%, rgb(20, 230, 125)));
    background-image: -webkit-linear-gradient(left, #0f9b40 0%, rgb(20, 230, 125) 70%);
    background-image: -o-linear-gradient(left, #0f9b40 0%, rgb(20, 230, 125) 70%);
    background-image: linear-gradient(90deg, #0f9b40 0%, rgb(20, 230, 125) 70%);
    overflow: hidden
}

.btn::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    background-image: -webkit-gradient(linear, left top, right top, from(rgb(17, 104, 52)), color-stop(70%, #0cc051));
    background-image: -webkit-linear-gradient(left, rgb(17, 104, 52) 0%, #0cc051 70%);
    background-image: -o-linear-gradient(left, rgb(17, 104, 52) 0%, #0cc051 70%);
    background-image: linear-gradient(90deg, rgb(17, 104, 52) 0%, #0cc051 70%);
    opacity: 0;
    -webkit-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease .2s
}

.btn:hover {
    opacity: 1
}

.btn:hover::before {
    opacity: 1
}

section,
.section {
    padding: 100px 0
}

input,
textarea,
select {
    background-color: #f6f6f6;
    height: 46px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 0 30px;
    font-size: 14px;
    font-weight: 500;
    resize: none
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
    color: #adadad
}

input::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder {
    color: #adadad
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
    color: #adadad
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder,
select::-ms-input-placeholder {
    color: #adadad
}

input::placeholder,
textarea::placeholder,
select::placeholder {
    color: #adadad
}

.nowrap {
    white-space: nowrap
}

.wrap,
.wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

ol {
    padding-left: 20px;
    margin-bottom: 20px
}

ol li {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding: 2.5px 0
}

.tag {
    display: inline-block;
    width: 43px;
    height: 43px;
    line-height: 43px;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    background-color: #fcc80c;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    text-align: center
}

.tag img {
    display: block;
    margin: 10% auto 0;
    width: 80%;
    height: 80%;
    -o-object-fit: contain;
    object-fit: contain
}

.tag:hover {
    opacity: 1;
    -webkit-box-shadow: 0 0 15px 7px rgba(0, 0, 0, .05);
    box-shadow: 0 0 15px 7px rgba(0, 0, 0, .05);
    background-color: #07f;
    background-image: -webkit-gradient(linear, left top, right top, from(rgb(252, 152, 157)), to(rgb(155, 53, 193)));
    background-image: -webkit-linear-gradient(left, rgb(252, 152, 157) 0%, rgb(155, 53, 193) 100%);
    background-image: -o-linear-gradient(left, rgb(252, 152, 157) 0%, rgb(155, 53, 193) 100%);
    background-image: linear-gradient(90deg, rgb(252, 152, 157) 0%, rgb(155, 53, 193) 100%)
}

.text-wrap {
    gap: 20px 17px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.text__tag {
    text-align: center;
    font-size: 16px;
    padding: 9px 22px;
    font-weight: bold;
    display: inline-block;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-color: #dfdcd8
}

.bg_b {
    background-color: #00fd56
}

.bg_c {
    background-color: #07f
}

.bg_cd {
    background-color: #fb4215
}

.link {
    display: block;
    font-weight: 700;
    margin-bottom: 10px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border: 1px solid #fcc80c;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.link__text {
    font-size: 22px;
    margin: 0 auto
}

.link:hover {
    opacity: 1;
    color: #fff;
    background-color: #07f;
    border-color: #07f
}

.bc_b {
    border-color: #00fd56
}

.bc_c {
    border-color: #07f
}

.bc_cd {
    border-color: #fb4215
}

.address {
    max-width: 400px;
    padding: 2px 0 2px 33px;
    display: block;
    margin: 0 0 15px 0;
    background-image: url("../img/icon/ic-6.png");
    background-repeat: no-repeat;
    background-position: top left;
    -webkit-background-size: auto 24px;
    -o-background-size: auto 24px;
    background-size: auto 24px
}

.address-green {
    max-width: 400px;
    padding: 2px 0 2px 33px;
    display: block;
    margin: 0 0 15px 0;
    background-image: url("../img/icon/ic-7.png");
    background-repeat: no-repeat;
    background-position: top left;
    -webkit-background-size: auto 24px;
    -o-background-size: auto 24px;
    background-size: auto 24px
}

.address-grey {
    max-width: 400px;
    padding: 2px 0 2px 33px;
    display: block;
    margin: 0 0 15px 0;
    background-image: url("../img/icon/ic-8.png");
    background-repeat: no-repeat;
    background-position: top left;
    -webkit-background-size: auto 24px;
    -o-background-size: auto 24px;
    background-size: auto 24px
}

.breadcrumbs {
    background-color: #fff
}

.breadcrumbs .wrap {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.breadcrumbs li {
    padding: 25px 0;
    font-size: 14px
}

.breadcrumbs li a {
    color: rgba(0, 0, 0, .5)
}

.breadcrumbs li a:hover {
    text-decoration: underline
}

.breadcrumbs li::after {
    content: ">";
    font-weight: 500;
    display: inline-block;
    margin: 0 8px
}

.breadcrumbs li:last-of-type {
    pointer-events: none
}

.breadcrumbs li:last-of-type a {
    font-weight: 500;
    color: #000
}

.breadcrumbs li:last-of-type::after {
    display: none
}

[class^=icon-] {
    display: inline-block;
    position: relative;
    font-family: "Open Sans", sans-serif;
    margin: 0 2px 5px 0;
    width: 16px;
    background-image: url(/img/sprite.png);
    height: 12px
}

.icon-subway-grey {
    background-position: -281px -303px;
    vertical-align: middle !important
}

.icon-subway-red {
    background-position: -297px -303px
}

.icon-subway-green {
    background-position: -265px -303px
}

@media screen and (max-width: 1500px) {
    .container {
        max-width: 1200px
    }

    .textline {
        font-size: 20px
    }
}

@media screen and (max-width: 1200px) {
    .text__tag {
        font-size: 14px
    }

    .textline {
        font-size: 18px
    }

    h2,
    .h2 {
        font-size: 34px;
        margin-bottom: 50px
    }
}

@media screen and (max-width: 1000px) {

    section,
    .section {
        padding: 60px 0
    }

    .address {
        padding: 2px 0 2px 28px;
        margin: 0 0 10px 0;
        -webkit-background-size: auto 21px;
        -o-background-size: auto 21px;
        background-size: auto 21px
    }

    .address-green {
        padding: 2px 0 2px 28px;
        margin: 0 0 10px 0;
        -webkit-background-size: auto 21px;
        -o-background-size: auto 21px;
        background-size: auto 21px
    }

    .address-grey {
        padding: 2px 0 2px 28px;
        margin: 0 0 10px 0;
        -webkit-background-size: auto 21px;
        -o-background-size: auto 21px;
        background-size: auto 21px
    }

    .textline {
        font-size: 16px
    }

    .btn {
        padding: 14px 25px;
        font-size: 12px
    }
}

@media screen and (max-width: 700px) {
    .textline {
        font-size: 14px
    }

    h2,
    .h2 {
        font-size: 24px
    }

    .text__tag {
        font-size: 12px;
        padding: 8px 15px
    }

    .text-wrap {
        gap: 13px
    }
}

.header {
    background-color: #f5f5f5
}

.header .container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 24px;
    padding-bottom: 24px
}

.header .container,
.header-win,
.header-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.header-nav {
    width: 100%;
    background: #1fcf48;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: -webkit-gradient(linear, left top, right top, from(#057038), to(#0077ff));
    background: linear-gradient(90deg, #057038 0%, #31ac47 100%)
}

.header-nav a {
    display: block;
    color: #fff;
    padding: 20px 17px;
    font-size: 16px;
    font-weight: 600
}

@media screen and (min-width: 1200px) {
    .header-nav a {
        position: relative;
        z-index: 1
    }

    .header-nav a::after {
        -webkit-transition: all ease .4s;
        -o-transition: all ease .4s;
        transition: all ease .4s;
        content: "";
        display: block;
        width: -webkit-calc(100% - 30px);
        width: calc(100% - 30px);
        height: 1px;
        left: 15px;
        position: absolute;
        bottom: 12px;
        background-color: #fff;
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        transform-origin: 0 0
    }

    .header-nav a:hover {
        opacity: 1
    }

    .header-nav a:hover::after {
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
        transform: scaleX(1)
    }
}

.header-nav .active a {
    pointer-events: none;
    color: #f3f367
}

.header__phone {
    font-size: 24px;
    font-weight: 600;
    padding: 6px 0
}

.header__email {
    font-size: 16px;
    color: #408cfc;
    font-weight: 600
}

.header .logo {
    max-width: 180px
}

.header-win {
    gap: 25px;
    font-size: 16px;
    line-height: 140%
}

.header-win img {
    width: 74px
}

.header-contact a {
    display: block
}

.header .btn-menu {
    display: none
}

@media screen and (max-width: 1500px) {
    .header-nav a {
        font-size: 14px;
        padding: 20px 11px
    }

    .header-win {
        max-width: 315px
    }
}

@media screen and (max-width: 1200px) {
    .header__text {
        display: none
    }

    .header-nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 320px;
        max-width: 90%;
        height: 100vh;
        z-index: 9999;
        display: block;
        padding-top: 100px;
        -webkit-transition: all cubic-bezier(0.22, 0.61, 0.36, 1) .5s;
        -o-transition: all cubic-bezier(0.22, 0.61, 0.36, 1) .5s;
        transition: all cubic-bezier(0.22, 0.61, 0.36, 1) .5s;
        opacity: 1;
        visibility: hidden;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%)
    }

    .header-nav a {
        padding: 10px 30px
    }

    .header-nav.active {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0)
    }

    .header .btn-menu {
        position: relative;
        z-index: 99999;
        display: inline-block;
        width: 70px;
        height: 70px;
        background: #079428
    }

    .header .btn-menu span {
        width: 45px;
        display: block;
        height: 2px;
        margin: 0 auto;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        background-color: #fff;
        position: relative;
        -webkit-transition: all cubic-bezier(0.22, 0.61, 0.36, 1) .4s;
        -o-transition: all cubic-bezier(0.22, 0.61, 0.36, 1) .4s;
        transition: all cubic-bezier(0.22, 0.61, 0.36, 1) .4s;
        pointer-events: none
    }

    .header .btn-menu span::before,
    .header .btn-menu span::after {
        width: 100%;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        content: "";
        display: block;
        height: 2px;
        background-color: #fff;
        position: absolute;
        -webkit-transition: all cubic-bezier(0.22, 0.61, 0.36, 1) .4s;
        -o-transition: all cubic-bezier(0.22, 0.61, 0.36, 1) .4s;
        transition: all cubic-bezier(0.22, 0.61, 0.36, 1) .4s;
        top: -13px
    }

    .header .btn-menu span::after {
        top: 13px
    }

    .header .btn-menu.active span {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0)
    }

    .header .btn-menu.active span::before {
        top: 0;
        left: 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg)
    }

    .header .btn-menu.active span::after {
        top: 0;
        left: 0;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
}

@media screen and (max-width: 900px) {
    .header-win {
        display: none
    }

    .header-contact {
        margin: 0 30px 0 auto
    }
}

@media screen and (max-width: 500px) {
    .header .container {
        padding-top: 14px;
        padding-bottom: 14px
    }

    .header .logo {
        width: 200px
    }

    .header .btn-menu {
        width: 55px;
        height: 55px
    }

    .header .btn-menu span {
        width: 65%
    }

    .header .btn-menu span::before {
        top: -10px
    }

    .header .btn-menu span::after {
        top: 10px
    }

    .header-contact {
        margin: 0 10px 0 auto
    }

    .header__email {
        display: none !important
    }

    .header__phone {
        width: 55px;
        height: 55px;
        padding: 0;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: 80% auto;
        -o-background-size: 80% auto;
        background-size: 80% auto;
        font-size: 0;
        background-image: url("../img/icon/phone.svg")
    }
}

.footer {
    background-color: #f4f6f7;
    font-size: 13px;
    line-height: 20px;
    margin-top: auto
}

.footer a:hover {
    text-decoration: underline
}

.footer-text {
    padding: 64px 0;
    background: #1455b1;
    text-align: center;
    color: #6db2ef
}

.footer-text a {
    font-weight: 600;
    text-decoration: underline;
    color: #fff
}

.footer-text a:hover {
    text-decoration: none
}

.footer-text p {
    font-size: 16px;
    line-height: 170%
}

.footer .container {
    max-width: 1240px
}

.footer .col {
    max-width: 20%
}

.footer .col a {
    display: block;
    padding: 2px 0
}

.footer .wrap {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 37px
}

.footer-bottom {
    width: 100%;
    font-size: 13px;
    line-height: 20px;
    padding: 34px 0;
    margin-top: 34px;
    border-top: 1px solid #000
}

.footer-bottom a {
    color: #1576fb
}

.footer .social {
    width: unset;
    display: inline-block !important;
    display: block;
    margin-right: 10px;
    opacity: .5;
    padding: 4px !important
}

.footer .social:last-child {
    margin: 0
}

.footer .social img {
    width: 30px;
    padding: 2px
}

@media screen and (max-width: 1000px) {
    .footer .wrap {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -moz-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        gap: 30px 2%
    }

    .footer .col {
        width: 32%;
        max-width: unset
    }

    .footer-text p {
        text-align: left;
        font-size: 14px
    }

    .footer-bottom {
        margin-top: 10px
    }
}

@media screen and (max-width: 700px) {
    .footer .col {
        width: 59%
    }

    .footer .col:nth-child(2n+2) {
        width: 39%
    }

    .footer .col a {
        padding: 4px 0
    }
}

.main {
    overflow: hidden;
    position: relative;
    z-index: 1
}

.main .container {
    min-height: 610px;
    position: relative;
    z-index: 1;
    padding: 70px 15px
}

.main h1 {
    font-size: 48px;
    line-height: 120%;
    margin: 0 0 35px
}

.main .tag-wrap {
    max-width: 510px;
    gap: 20px 24px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 50px
}

.main .text-wrap {
    max-width: 90%
}

.main__img {
    position: absolute;
    right: -10%;
    top: 20px;
    width: 60%;
    max-width: 765px;
    z-index: -1
}

.main__img::after {
    content: "";
    display: block;
    width: 200vw;
    height: 4px;
    background-color: #706d76;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 16%;
    z-index: 1;
    pointer-events: none
}

.main-content {
    width: 60%
}

@media screen and (max-width: 1500px) {
    .main::after {
        top: 483px
    }

    .main .container {
        padding: 55px 15px
    }

    .main h1 {
        margin-bottom: 30px
    }

    .main .tag-wrap {
        margin-bottom: 40px
    }
}

.uss {
    padding-top: 10px;
    position: relative;
    z-index: 1
}

.uss::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-position: center right 2%
}

.uss h2 {
    margin-bottom: 12px
}

.uss .container {
    position: relative;
    z-index: 1;
    min-height: 800px
}

.uss .textline {
    margin-bottom: 100px
}

.uss .col {
    max-width: 32%
}

.uss .wrap {
    margin: 0 0 0 auto;
    max-width: 74%;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.uss__img {
    position: absolute;
    left: -20px;
    bottom: 0;
    max-height: 70%;
    z-index: -1
}

.uss .col {
    font-size: 18px
}

.card {
    width: 24%;
    padding: 30px 50px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-color: #fcfbf9;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, .05);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, .05)
}

.card__heading {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -moz-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-bottom: 5px;
    color: #5c5a5a;
    border-bottom: 1px solid #d2d0d0;
    margin-bottom: 50px
}

.card__heading img {
    width: 100px;
    height: 64px;
    max-width: 42%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center bottom;
    object-position: center bottom
}

.card-wrap {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    gap: 30px 1.33%;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.features {
    background-color: #000;
    color: #fff;
    padding: 150px 0
}

.features-wrap {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    gap: 40px 2.5%
}

.features-item {
    width: 18%
}

.features__icon {
    display: block;
    width: 65px;
    height: 65px;
    -o-object-fit: contain;
    object-fit: contain;
    margin-bottom: 20px
}

.features__heading {
    color: #c6c5cb;
    font-size: 15px;
    line-height: 160%
}

.features__text {
    font-size: 14px;
    line-height: 150%
}

@media screen and (max-width: 1500px) {
    .features-wrap {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -moz-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        gap: 30px 2%
    }

    .features-item {
        width: 32%
    }
}

@media screen and (max-width: 900px) {
    .features {
        padding: 100px 0
    }

    .features-item {
        width: 49%
    }
}

@media screen and (max-width: 600px) {
    .features-wrap {
        gap: 40px 0
    }

    .features-item {
        width: 100%
    }
}

.sale {
    background-color: #fff
}

.sale h2 {
    margin-bottom: 50px
}

.sale-item__icon {
    width: 95px;
    display: block;
    margin: 0 0 64px
}

.sale-item__heading {
    font-size: 16px;
    margin: 0 0 14px
}

.sale-item__price {
    font-weight: 900;
    font-size: 28px;
    margin: 0 0 14px;
    background: -webkit-gradient(linear, left top, right top, color-stop(10%, #ff1404), color-stop(40%, rgb(155, 53, 193)));
    background: -webkit-linear-gradient(left, #0d7b3b 10%, #57f7bc 40%);
    background: -o-linear-gradient(left, #0d7b3b 10%, #57f7bc 40%);
    background: linear-gradient(90deg, #0d7b3b 10%, #57f7bc 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgb(91, 91, 91)
}

.sale-item__text {
    font-size: 16px;
    font-weight: 600;
    opacity: .45;
    margin-bottom: 50px
}

.sale .video {
    width: 50%
}

.sale .video video {
    display: block;
    width: 100%
}

.license {
    background-color: #fff
}

.license h3 {
    font-size: 32px;
    margin-bottom: 75px
}

.license .wrap {
    width: 90%;
    max-width: 1920px;
    margin: 0 auto;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.license img {
    width: 49%
}

.schedule {
    padding: 40px 0;
    background-color: #fff
}

.schedule__img {
    width: 300px;
    display: block;
    margin: 0 auto 40px
}

.schedule__heading {
    margin-bottom: 5px
}

.schedule .textline {
    max-width: 100%;
    margin-bottom: 30px
}

.schedule table {
    color: #060c27;
    width: 100%
}

.schedule table tr {
    border-bottom: 2px solid #d1d1d1
}

.schedule table th {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #757077;
    text-align: left;
    padding: 26px 12px 20px
}

.schedule table th:first-of-type {
    padding-left: 0
}

.schedule table th:last-of-type {
    text-align: right
}

.schedule table td {
    font-size: 14px;
    padding: 29px 12px;
    vertical-align: top;
    line-height: 30px;
    line-height: 150%
}

.schedule table td:first-of-type {
    padding-left: 0
}

.schedule table td:last-of-type {
    text-align: right
}

.schedule table .date {
    font-weight: bold;
    width: 19%
}

.schedule table .subway {
    width: 100%;
    font-weight: 700
}

.schedule table .street {
    display: block;
    margin-top: 3px;
    color: #757077
}

.schedule table a {
    display: block;
    color: #1576fb
}

.schedule table .number {
    text-align: center;
    min-width: 26px;
    font-weight: 700;
    padding: 2px 5px;
    background: #f8e03a;
    padding: 3px 5px
}

.schedule table .addres {
    width: 35%
}

.schedule table .teacher {
    width: 25%
}

@media screen and (max-width: 1500px) {
    .uss .wrap {
        max-width: 76%
    }

    .uss .container {
        min-height: 700px
    }

    .uss .textline {
        margin-bottom: 70px
    }

    .uss .col {
        font-size: 16px
    }

    .uss__img {
        max-height: 64%
    }

    .card {
        padding: 30px 34px 40px
    }

    .card__heading {
        margin-bottom: 40px
    }
}

@media screen and (max-width: 1200px) {
    .main .container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        min-height: unset;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -moz-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        padding-bottom: 130px
    }

    .main-content {
        width: 55%
    }

    .main__img {
        width: 45%;
        position: relative
    }

    .main__img img {
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        -o-transform: scale(1.4);
        transform: scale(1.4);
        -webkit-transform-origin: 100% 50%;
        -ms-transform-origin: 100% 50%;
        -o-transform-origin: 100% 50%;
        transform-origin: 100% 50%
    }

    .main__img::after {
        bottom: 3%
    }

    .main .tag-wrap {
        width: 100%;
        bottom: 0;
        max-width: 100%;
        max-width: 600px;
        gap: 15px 20px
    }
}

@media screen and (max-width: 1200px)and (min-width: 600px)and (max-width: 1200px) {
    .main .tag-wrap {
        padding: 0 15px;
        margin: 0;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}

@media screen and (max-width: 1200px) {
    .main .text-wrap {
        margin-bottom: 50px;
        max-width: 100%
    }

    .card {
        width: 32%
    }
}

@media screen and (max-width: 1000px) {
    .uss::before {
        opacity: .5;
        background-position: center left
    }

    .uss__img {
        position: static;
        width: 500px;
        max-width: 80%;
        margin: 0 auto 30px
    }

    .uss .wrap {
        max-width: 100%
    }

    .uss .textline {
        margin-bottom: 40px
    }

    .uss .col {
        font-size: 14px
    }

    .card {
        width: 49%
    }

    .sale {
        padding: 100px 0
    }

    .sale h2 {
        margin-bottom: 50px
    }

    .sale .wrap {
        -webkit-box-pack: space-evenly;
        -webkit-justify-content: space-evenly;
        -moz-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        gap: 50px 0
    }

    .sale-item {
        width: unset;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2
    }

    .sale .video {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        width: 100%
    }

    .license h3 {
        margin-bottom: 40px;
        font-size: 24px
    }

    .license img {
        width: 100%
    }

    .license__icon {
        display: none
    }

    .schedule table th {
        display: none
    }

    .schedule table tr {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 30px 0;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .schedule table tr:first-of-type {
        display: none
    }

    .schedule table td {
        width: 100% !important;
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
        -moz-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        padding: 0
    }

    .schedule table td:first-of-type {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        width: unset !important
    }

    .schedule table td:last-of-type {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        width: unset !important;
        text-align: left
    }
}

@media screen and (max-width: 700px) {
    .main .tag-wrap {
        gap: 14px
    }

    .uss .wrap {
        display: block
    }

    .uss .col {
        width: 100%;
        max-width: 100%;
        margin-bottom: 30px
    }

    .uss .col:last-child {
        margin-bottom: 0
    }

    .card {
        width: 100%
    }

    .license h3 {
        margin-bottom: 40px;
        font-size: 22px
    }

    .sale h2 {
        margin-bottom: 34px
    }

    .sale .wrap {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around
    }

    .sale-item__icon {
        height: 121px;
        -o-object-fit: contain;
        object-fit: contain;
        -o-object-position: left bottom;
        object-position: left bottom;
        margin-bottom: 30px
    }

    .sale-item__heading,
    .sale-item__price {
        margin-bottom: 8px
    }

    .sale-item__heading,
    .sale-item__text {
        font-size: 12px
    }

    .sale-item__text {
        margin-bottom: 30px
    }

    .features__icon,
    .features__heading {
        margin-bottom: 10px
    }
}

@media screen and (max-width: 600px) {
    .main h1 {
        font-size: 34px
    }

    .main .container {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-top: 10px;
        padding-bottom: 100px
    }

    .main .text-wrap {
        margin: 0
    }

    .main .text-wrap,
    .main .tag-wrap {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .main .tag-wrap {
        width: -webkit-calc(100vw - 10px);
        width: calc(100vw - 10px);
        position: relative;
        left: -10px
    }

    .main__img {
        position: relative;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        width: 100%;
        max-width: 310px;
        margin: 0 auto
    }

    .main__img img {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1)
    }

    .main__img::after {
        bottom: 13%;
        opacity: .2
    }

    .main-content {
        text-align: center;
        width: 100%;
        width: 100%;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2
    }
}

/*# sourceMappingURL=style.css.map */