.footer
    background-color: #f4f6f7
    font-size: 13px
    line-height: 20px
    a
        &:hover
            text-decoration: underline

    &-text
        padding: 64px 0 47px
        background: #1455b1
        text-align: center
        font-size: 16px
        line-height: 25px
        color: #6db2ef
        a
            font-weight: 600
            text-decoration: underline
            color: white
            &:hover
                text-decoration: none

    .container
        max-width: 1240px

    ul
        a
            padding: 2px 0

    .wrap
        align-items: flex-start
        padding-top: 37px

    &-bottom
        width: 100%
        font-size: 13px
        line-height: 20px
        padding: 34px 0
        margin-top: 34px
        border-top: 1px solid #000
        a
            color: #1576fb
