@import 'normolize'
@import 'fonts'
@import 'elements'
@import 'header'
@import 'footer'

.main
    overflow: hidden
    position: relative
    z-index: 1

    .container
        min-height: 610px
        position: relative
        z-index: 1
        padding: 70px 15px

    h1
        font-size: 48px
        line-height: 120%
        margin: 0 0 35px

    .tag-wrap
        max-width: 510px
        gap: 20px 24px
        justify-content: flex-start
        margin-bottom: 50px

    .text-wrap
        max-width: 50%

    &__img
        position: absolute
        right: -10%
        top: 20px
        width: 60%
        max-width: 765px
        z-index: -1
        &::after
            content: ''
            display: block
            width: 200vw
            height: 4px
            background-color: #706d76
            position: absolute
            left: 50%
            transform: translateX(-50%)
            bottom: 16%
            z-index: 1
            pointer-events: none

    &-content
        width: 60%

    @media screen and ( max-width: 1500px )
        &::after
            top: 483px

        .container
            padding: 55px 15px

        h1
            margin-bottom: 30px

        .tag-wrap
            margin-bottom: 40px

.uss
    padding-top: 10px
    background-image: url('../img/bg.png')
    background-repeat: no-repeat
    background-position: center right 2%
    .container
        position: relative
        z-index: 1
        min-height: 800px

    .textline
        margin-bottom: 100px

    .col
        max-width: 32%

    .wrap
        margin: 0 0 0 auto
        max-width: 74%
        align-items: flex-start

    &__img
        position: absolute
        left: -20px
        bottom: 0
        max-height: 70%
        z-index: -1

    .col
        font-size: 18px

.cards
    h2
        margin-bottom: 50px

.card
    width: 24%
    padding: 30px 50px
    border-radius: 20px
    background-color: rgb(252, 251, 249)
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.05)
    &__heading
        align-items: flex-end
        padding-bottom: 5px
        color: #5c5a5a
        border-bottom: 1px solid #d2d0d0
        margin-bottom: 50px
        img
            width: 100px
            height: 64px
            max-width: 42%
            object-fit: contain
            object-position: center bottom

    &-wrap
        justify-content: flex-start
        gap: 30px 1.33%
        align-items: stretch

.features
    background-color: #000
    color: white
    padding: 150px 0
    .wrap
        align-items: stretch
        gap: 30px 2.5%

    &-item
        width: 18%

    &__icon
        display: block
        width: 65px
        height: 65px
        object-fit: contain
        margin-bottom: 20px

    &__heading
        color: #c6c5cb
        font-size: 15px
        line-height: 160%

    &__text
        font-size: 14px
        line-height: 150%

.sale
    background-color: #fff
    h2
        margin-bottom: 65px

    &-item
        &__icon
            width: 95px
            display: block
            margin: 0 0 64px

        &__heading
            font-size: 16px
            margin: 0 0 14px

        &__price
            font-weight: 900
            font-size: 28px
            margin: 0 0 14px
            background: linear-gradient(90deg, #ff1404 10%, rgba(155,53,193,1) 40%)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent

        &__text
            font-size: 16px
            font-weight: 600
            opacity: .45
            margin-bottom: 50px

    .video
        width: 50%
        video
            display: block
            width: 100%

.license
    background-color: #fff
    h3
        font-size: 32px
        margin-bottom: 75px
    .wrap
        width: 90%
        max-width: 1920px
        margin: 0 auto
        flex-wrap: nowrap

    img
        width: 49%

@media screen and ( max-width: 1500px )
    .uss
        .wrap
            max-width: 76%

        .container
            min-height: 700px

        .textline
            margin-bottom: 70px

        .col
            font-size: 16px

        &__img
            max-height: 64%

    .card
        padding: 30px 34px 40px
        &__heading 
            margin-bottom: 40px
        
    .cards

    .features,
    .sale,
    .license,
    .footer
        display: none

@media screen and ( max-width: 1200px )
    .main
        .container
            display: flex
            min-height: unset
            align-items: flex-end
            padding-bottom: 130px

        &-content
            width: 55%

        &__img
            width: 45%
            position: relative
            img
                transform: scale(1.4)
                transform-origin: 100% 50%

            &::after
                bottom: 3%

        .tag-wrap
            width: 100%
            bottom: 0
            max-width: 100%
            max-width: 600px
            gap: 15px 20px
            @media screen and ( min-width: 600px ) and ( max-width: 1200px )
                padding: 0 15px
                margin: 0
                justify-content: center
                position: absolute
                left: 50%
                transform: translateX(-50%)

        .text-wrap
            margin-bottom: 50px
            max-width: 100%

    .uss

@media screen and ( max-width: 1000px )
    .uss
        &__img
            position: static
            width: 500px
            max-width: 100%
            margin: 0 auto 30px

        .wrap
            max-width: 100%

        .textline
            margin-bottom: 40px

        .col
            font-size: 14px

@media screen and ( max-width: 700px )
    .uss
        .wrap
            display: block

        .col
            width: 100%
            max-width: 100%
            margin-bottom: 30px
            &:last-child
                margin-bottom: 0

@media screen and ( max-width: 600px )
    .main
        h1
            font-size: 34px

        .container
            flex-wrap: wrap
            padding-top: 10px
            padding-bottom: 100px

        .text-wrap
            margin: 0

        &__img
            position: relative
            order: 1
            width: 100%
            img
                transform: scale(1.1)

            &::after
                bottom: 13%
                opacity: .5

        &-content
            width: 100%
            width: 100%
            order: 2
